body {
  background: #eee;
}
.answers {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.answers > button {
  color: red;
  background-color: rgb(168, 201, 230);
}
.qs {
  font-size: 30px;
  color: aliceblue;
}

.backBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: rgb(184, 184, 198);
  text-decoration: none;
  margin: 20px;
}
